$customSelect_height: 50px !default;
$customSelect_pHorizontal: 28px !default;
$customSelect_borderWidth: 1px !default;
$customSelect-tag_diff: 10% !default; // must be in %, hack for -moz
$customSelect-caret_marginRight: 16px !default;