$customSelect_borderColor: #dfdfdf !default;
$customSelect_borderColor-_state: #f3f3f3 !default;
$customSelect_borderRadius: 5px !default;
$customSelect_bgColor: #fff !default;
$customSelect-caret_img: url('../img/caret.svg') !default;
